h2 {
  color: red;
  font-style: italic;
}

.message-green {
  color: green;
  background-color: lightgray;
  border: 2px solid green;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-red {
  color: red;
  background-color: lightgray;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;
}